/* Feuille de style */

/* Style de police */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* Header */

h1 {
    color: aliceblue;
}
nav{
    padding: 4.5em;
}

/* Main */

* {
    text-align: center;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    

}
html, body, main{
    height: 100%;
    width: 100%;
}
main{
    background-image: url("/img/background.jpg");
    background-size: cover;
}
#play{
    margin: 2rem;
    background-color: brown;
    border-radius: 1px solid brown;
    color: rgb(218, 218, 218);
}
#roledice, #hold {
    margin: 1.5rem;
    border-radius: 0.8em;
    background-color: brown;
    border-radius: 1px solid brown;
}
#newgame{
    margin: 2rem;
    display: block;
}