/* Feuille de style */

/* Style de police */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Header */

h1 {
    color: aliceblue;
}
nav{
    padding: 4.5em;
}

/* Main */

* {
    text-align: center;
    font-family: 'Lato', sans-serif;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e6e6;
}
#diceNumber {
    margin-top: 10rem;
    font-size: 70px;
    color: #267B34;
}
#global1, #global2 {
    margin: 0.8rem;
    padding: 1.2rem;
    font-size: 45px;
    font-weight: 600;
    color: #277634;
}
#round1, #round2 {
    font-size: 30px;
}
.badge {
    margin: 0.5rem;
    margin-top: 2.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    background-color: #A33B26;
    font-style: oblique;
}
#player1, #player2 {
    margin: 0.8rem;
    padding: 0.8rem;
    font-size: 4em;
}
#circle1, #circle2 {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        background: #267B34;
        background-size: 1px;
        float: left;
        position: fixed;
        top: 21.5em;
}
#circle1{
    left: 15em;
}
#circle2{
    left: 70em;
}
#win {
    font-size: 2.5rem;
    font-weight: 500;
    color: #267B34;
}

/* Button */
#play, #newgame{
    margin: 2rem;
    background-color: #A33B26;
    border-radius:#A33B26;
    color: rgb(218, 218, 218);
}
#roledice, #hold {
    margin: 1.5rem 3rem;
    background-color: #A33B26;
    border-radius:#A33B26;
}
#play:hover, #newgame:hover{
    background-color: #267B34;
    border-color: #267B34;
}
#roledice:hover, #hold:hover {
    background-color:#267B34;
    border-radius:#267B34;
}

/* Footer */
footer{
    margin-top: 2.5rem;
}

/* Media queries */
@media (max-width: 1224px) {
    #diceNumber {
        margin-top: 4rem;
        margin-bottom: 3.5rem;
    }
    #roledice, #hold {
        margin:1.2rem;
    }
    #win {
        font-size: 1.5rem;
    }
    #circle1{
        left: 5em;
        top: 21em;
    }
    #circle2{
        left: 35em;
        top: 21em;
    }
}
@media (max-width: 768px) {

    #diceNumber {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }
    #win {
        font-size: 1.5rem;
    }
    #roledice, #hold {
        margin:0.2em;
        margin-bottom: 2rem;
    }
    #circle1, #circle2{
        top: 19.5em;
    }
    #player1, #player2 {
        font-size: 2.5em;
    }
}
@media (max-width: 426px) {

    #diceNumber {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        font-size: 50px;
    }
    #win {
        font-size: 1rem;
    }
    #roledice, #hold {
        margin:0.2em;
        margin-bottom: 2rem;
        padding: 0.4em;
    }
    #circle1, #circle2{
        top: 20.5em;
        width: 20px;
        height: 20px;
    }
    #player1, #player2 {
        font-size: 2em;
    }
    #circle1{
        left: 1.5em;
    }
    #circle2{
        left: 18em;
    }
    nav{
        padding: 0.8em;
    }
}